
.head{
    
    margin-top: 30px;
    margin-left: 5%;
    
}

.input-group{
    margin-left: 5%;
    width: 600px;
}

.form-select{
    margin-left: 5%;
    width: 600px;
}
.selecttag{
    height: 50px;
  
    margin-top: 10px;
   
}