body{
    box-sizing: content-box;
    width: 100%;
}



.head{
    
    margin-top: 30px;
    margin-left: 5%;
    
}

.input-group{
    margin-left: 5%;
    width: 600px;
}

.form-select{
    margin-left: 5%;
    width: 600px;
    height: 40px;
}
.selecttag{
    height: 50px;
  
    margin-top: 10px;
   
}

.search_button{
    margin-left: 5%;
    margin-top: 10px;
    
}
.btn_search{
    height: 40px;
    width: 100px;
   border-color: rgb(199, 199, 199);
}

.reset_button{
    margin-left: 1%;
    margin-top: 10px;
}

.btn_reset{
    height: 40px;
    width: 100px;
    border-color: rgb(199, 199, 199);
}

.center {
    margin: auto;
    width: 50%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hideform {
    display: none;
}





.button1 {
    font-size: 1em;
    padding: 10px;
    color: rgb(0, 0, 0);
    
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button1:hover {
    color: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }